@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.filter {
  font-family: "Poppins";
}

.filter-button {
  background-color: #94d997;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.filter-button:hover {
  background-color: #1e9d2a;
}

.filter-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}