/* Home.css */
.home {
    font-family: Arial, sans-serif;
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #f8f9fa;
    position: relative;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3em;
    color: #0b3d91;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.hero-actions {
    display: flex;
    align-items: center;
}

.donate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 23%;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.donate-button:hover {
    background-color: #0b3d91;
    /* background-color: #45a049; */
    transform: translateY(-1px);
}

.contact-info {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #0b3d91;
}

.contact-info i {
    font-size: 1.5em;
    margin-right: 10px;
}

.hero-image {
    max-width: 40%;
    position: relative;
}

.hero-image img {
    width: 100%;
    border-radius: 50% 50% 0 0;
    border: 5px solid #28a745;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .hero-image {
        max-width: 100%;
    }

    .hero-actions {
        justify-content: center;
    }
    .donate-button{
        margin-left: 10%;
    }
}

/* Metrics Section */
.metrics {
    display: flex;
    justify-content: space-around;
    background-color: #28a745;
    color: black;
    padding: 20px 0;
    margin-bottom: 0px;
}

.metric {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.metric:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.metric h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.metric p {
    font-size: 1.2rem;
    color: #555;
}

/* Mission Section */
.mission-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #fff;
    width: 90%;
    flex-wrap: wrap;
    /* Added for better responsiveness */
margin-top: 20px;

}

.mission-text {
  
    max-width: 50%;
    flex: 1;
    padding: 20px;
    /* Added for better spacing */
}

.mission-text h2 {
  
    font-size: 36px;
    color: #002d5c;
}

.mission-text p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mission-button {
    display: flex;
    align-items: center;
    margin-left: 75px;
}

.mission-button .donate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.mission-button .donate-button:hover {
    background-color: #009f6d;
}

.mission-button .phone {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #002d5c;
}

.mission-button .phone i {
    margin-right: 10px;
}


.services {
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px 0;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.service-icon {
    font-size: 40px;
    color: #4caf50;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.service-card p {
    font-size: 16px;
    color: black;
}

.service-card::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #28a745;
    transition: top 0.5s ease-in-out;
    z-index: -1;
}

.service-card:hover::before {
    top: 0;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card h3,
.service-card p {
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.service-card:hover h3,
.service-card:hover p {
    color: white;
}

/* Responsive styling */
@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 80%;
        margin-bottom: 20px; /* Ensure there's spacing between the cards */
    }
}

@media (max-width: 480px) {
    .service-card {
        width: 100%;
        padding: 15px;
    }

    .service-icon {
        font-size: 30px;
    }

    .service-card h3 {
        font-size: 20px;
    }

    .service-card p {
        font-size: 14px;
    }
}
/* Foundation Section */
.foundation {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.foundation-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.foundation-text {
    flex: 1;
    max-width: 600px;
    text-align: left;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.foundation-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.foundation-text h3 {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

.foundation-text p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.foundation-images {
    flex: 1;
    max-width: 600px;
    text-align: right;
    padding: 20px;
    animation: slideIn 1.5s ease-in-out;
}

.foundation-images img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.foundation-images img:hover {
    transform: scale(1.05);
}

.foundation-text button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.foundation-text button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Responsive styling */
@media (max-width: 768px) {
    .foundation-content {
        flex-direction: column;
        text-align: center;
    }

    .foundation-text {
        text-align: center;
        padding: 20px;
    }

    .foundation-images {
        text-align: center;
        padding: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Call-to-Action Section */
.call-to-action {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
    transition: background-color 0.3s ease-in-out;
}

.call-to-action h2 {
    font-weight: 300;
    color: black;
    /* Blue */
    font-size: 2rem;
    margin-bottom: 25px;
}

.call-to-action button {
    background-color: #28a745;
    /* Blue */
    border: none;
    color: #fff;
    /* White text */
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.call-to-action button:hover {
    background-color: #0056b3;
    /* Darker blue */
    transform: translateY(-5px);
}

/* About Section */
.about {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    color: #666;
}

.about button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about button:hover {
    background-color: #218838;
}

/* Causes Section */
.mission {
    padding: 50px 20px;
    background-color: #f9f9f9;

}

.mission h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.causes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Added for better responsiveness */
}

.cause {
    width: 30%;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    /* Added for better spacing */
}

.cause h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cause p {
    font-size: 16px;
    color: #666;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .metrics {
        flex-direction: column;
        align-items: center;
    }

    .metric {
        margin-bottom: 20px;
    }

    .mission-section {
        flex-direction: column;
        text-align: center;
    }
    

    .mission-text {
        margin-bottom: 20px;
    }

    .mission-button {
        flex-direction: column;
    }

    .mission-button .donate-button {
        margin-bottom: 10px;
    }
}

/* Stats Section */
.stats-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #28a745;
    padding: 50px 20px;
    color: white;
    text-align: center;
}

.stat-item {
    flex: 1;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.stat-number {
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-in-out forwards;
}

.stat-label {
    font-size: 1.2em;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .stats-section {
        flex-direction: column;
    }

    .stat-item {
        margin: 20px 0;
    }
}

/* Modal Custom Styles */
.modal-content {
    border-radius: 10px;
  }
  
  .modal-header, .modal-footer {
    border: none;
  }
  
  .modal-body {
    padding: 20px;
  }