/* OTP Input Container */
.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otp-input {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.otp-input:focus {
  outline: none;
  border: 2px solid #00c6ff;
  transform: scale(1.1);
}

/* Animated Login Form */
.animated-form {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* General styling adjustments */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff !important;
}

.login-container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/loginback.jpg") no-repeat center center / cover !important;
  overflow: hidden;
  
}

.login-form {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 40px 50px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
}

h1 {
  font-size: 2.5rem;
  color: #10af48 !important;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background: #28a745;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.submit-button:hover {
  background: #13b138;
  transform: translateY(-3px);
}
